* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black:#120910;
    --blue:#1d9bc9;
    --blue-dark:#146280;
    --red:#f85a75;
}

body {background-color: #161215;}

.container {
    background-color: var(--black);
    border: 1px solid var(--blue);
    width: 350px;
    margin: 80px 0 0 500px;
    min-height: 480px;
}

h1 {
    color: white;
    text-align: center;
    margin: 15px 0;
}

.form {
    width: 80%;
    margin: auto;
}

.inputs {
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px 5px 0 0;
    background-color: #161215;
    color: white;
    margin-bottom: 10px;
    outline: none;
}

.inputs::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.inputs:focus {border-color: var(--blue);}

.box-radios {
    color: white;
    display: flex;
    margin-top: 15px;
}

.box-radios input{
    float: left;
    margin: 0 0 0 2px;
}

p {
    margin: 5px 0;
    color: white;
}

label {
    margin-left: 5px;
    margin-right: 10px;
    align-items: center;
}

.span-required{
    display: none;
    color: var(--red);
    margin-bottom: 5px;
}

button {
    margin: 15px 0 15px 45px;
    padding: 10px 0;
    width: 70%;
    font-weight: 700;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}